@charset "utf-8";
/* CSS Document */

.header{
	width:100%;
	/*background:#F66;*/
	height:82px;
}
.homepage_banner{
	width:100%;
	background: url(../images/home-slider-1.jpg);
	height:816px;
	padding-top:120px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	
	
}
.navigation{
	list-style: none;
	padding:0;
	margin:30px 0px 0px 0px;
	float:right;
}
.navigation li{
	display: inline;
	padding:0;
	margin:0px 30px 0px 0px;
}
.navigation li a{
	color:#fff;
	padding:0;
	margin:0;
	font-size:15px;
}
.socila_icons{
	padding: 0px;
	margin: 0px;
	display: inline-flex;
}
.socila_icons li{
	float:left;
	margin: auto 12px;
	border-top: none !important;
}
.homepage_banner h1{
	color:#fff;
	padding:0;
	margin:0px auto 30px auto;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-size:45px;
	font-weight:300;
}
.btn_sign_up{
	border: none;
	border-radius:3px;
	width:100%;
	height:59px;
	color:#fff;
	font-size:22px;
	background:#ed4e4b;
	font-weight:400;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	box-shadow:0px 0px 10px rgba(0,0,0,0.5);
	
}
.btn_sign_up:hover{
	background:#cc221f;	
}
.banner_device{
	text-align: center;
	margin:0px auto;
	left:0%;
	right:0%;
}
.home_signup_dv{
	padding:90px 0px 0px 30px;	
}

.home_signup_dv .form-control{
	height:59px;
	color:#666666;
	font-size: 21px;
	font-weight:300;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 3%;

}
.home_signup_dv .email_field{
	/*background-image:url(../images/email_icon.png);*/
	padding-left:14px;
	background-repeat: no-repeat;
	background-position:12px 20px;

}
.home_signup_dv .country_field{
	background-image:url(../images/country_icon.png);
	padding-left:50px;
	background-repeat: no-repeat;
	background-position:15px 20px;

}

header{
	height: 82px;
	background: rgba(0,0,0,0);
	color: #fff;            
	// set animation
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	z-index:999;
	position:fixed;
	width: 100%;
		
}
.inner_header{
	height: 82px;
	background: rgba(0,0,0,0.6);
	color: #fff;            
	// set animation
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	z-index:999;
	position: fixed;
	width: 100%;
}
header.sticky {
	position: fixed;
	height: 82px; 
	width: 100%;
	background: rgba(0,0,0,0.6);
	text-align: left;
	padding-left: 20px;
}
.step_icon_1{
	width:66px;
	height:66px;
	background:url(../images/home_step_icon_1.png);
	margin:0px auto;
}
.step_icon_1:hover{
	width:66px;
	height:66px;
	background:url(../images/home_step_icon_1.png);
	background-position:-66px;
	margin:0px auto;
}
.step_icon_2{
	width:66px;
	height:66px;
	background:url(../images/home_step_icon_2.png);
	margin:0px auto;
}
.step_icon_2:hover{
	width:66px;
	height:66px;
	background:url(../images/home_step_icon_2.png);
	background-position:-66px;
	margin:0px auto;
}
.step_icon_3{
	width:66px;
	height:66px;
	background:url(../images/home_step_icon_3.png);
	margin:0px auto;
}
.step_icon_3:hover{
	width:66px;
	height:66px;
	background:url(../images/home_step_icon_3.png);
	background-position:-66px;
	margin:0px auto;
}
.home_step_icon{
	padding-top:100px;
	padding-bottom:70px;
}
.home_step_dv h3{
	color:#202020;
	font-size: 30px;
	font-weight:300;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
.home_step_dv p{
	color:#333;
	font-size: 17px;
	font-weight:300;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
.home_video_dv{
	width:100%;
	height:500px;
	margin-top:60px;
}
footer{
	background:#f2f2f2;
	margin-top:100px;
	padding:100px 0px 0px 0px;
}
.ft_nav{
	padding:0;
	margin:0;
	list-style: none;
	text-align: center;
}
.ft_nav li{
	padding:0;
	margin:0px 20px;
	display: inline-block;
}
.ft_nav li a{
	color:#999999;
	font-size:14px;

}
footer p{
	text-align: center;
	color:#999999;
	font-size:11px;
}
.small_footer{
	background:#e5e5e5;
	height:48px;
	margin-top:70px;
	text-align: center;
	padding-top:10px;
}
.small_footer img{
	text-align: center;
}
.common_wrapper{
	margin-top:70px;
	float:left;
	width:100%;
}
.common_wrapper h3{
	color:#202020;
	font-size: 30px;
	font-weight:300;
	font-family: 'Open Sans', sans-serif;
}
.common_wrapper p{
	color:#333;
	font-size: 17px;
	font-weight:300;
	font-family: 'Open Sans', sans-serif;
}
.common_wrapper h4{
	color:#202020;
	font-size: 26px;
	font-weight:300;
	font-family: 'Open Sans', sans-serif;
}
.common_wrapper .main-btn-larg{
	border: none;
	border-radius:3px;
	width:100%;
	height:59px;
	color:#fff;
	font-size:22px;
	background:#ed4e4b;
	font-weight:400;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
}
.common_wrapper .main-btn-larg:hover{
	background:#cc221f;	
}
/*---------- My Modal CSS -----------*/
.my_modal .modal-header{
  background:#fff;
  text-align:center;
  font-size:20px;
  color:#444;
  border-radius:5px 5px 0 0;

    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5; 
}
/*---------------- for video ----------------*/
.btn_how_it_works{
	border: none;
	border-radius:43px/42px;
	width:100%;
	height:70px;
	color:#fff;
	font-size:22px;
	background: url(../images/how_it_worksbg.png), url(../images/vedio_btn_icon.png) no-repeat 10px 7px;
	font-weight:400;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	box-shadow:0 1px 0 rgba(255,255,255,.1),inset 0 1px 3px rgba(0,0,0,.15);
	
}
.btn_how_it_works:hover{
	background: url(../images/how_it_worksbg.png), url(../images/vedio_btn_icon.png) no-repeat 10px 7px;
	box-shadow:0 1px 38px rgba(255,255,255,.6),inset 0 1px 3px rgba(0,0,0,.15);
}
.modal_video_dv{
	padding:10px;
}
/*---------------- for video End ----------------*/