/* @override panel/theme/en/mobile-front.css */



/* CSS Document */
@charset "UTF-8";



select { box-shadow: none!important; }

html,body,div,span,iframe,a,form {
	margin: 0;
	box-shadow: none!important;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline }

body { line-height:1;-webkit-text-size-adjust: none }

table { border-spacing:0;border-collapse: collapse }

html {
	width: 100%;
	height: 100%;
	background-color: #fff;
	font-family: 'Open Sans',sans-serif;
	color: #6d6d6d;
	font-size: 10pt;
	background-image: url(bg.png);
	background-repeat: repeat;
	background-position: left top }

body {
	width: 100%;
	height: 100%;
	background-color: transparent }

.loading { cursor: progress!important }

.hand { cursor: pointer }

.default { cursor: default }

#header {
	background: linear-gradient(#ffffff, #ffffff) repeat scroll 0 0 #000000!important;
	background: -webkit-linear-gradient(#ffffff, #ffffff) repeat scroll 0 0 #000000!important;
	background: -o-linear-gradient(#ffffff, #ffffff) repeat scroll 0 0 #000000!important;
	border: 15px solid transparent!important;
	border-left: medium none!important;
	border-right: medium none!important;
	border-top: medium none!important;
	-webkit-border-image: url(line_.png)0 0 15 0 round!important;
	-moz-border-image: url(line_.png)0 0 15 0 round!important;
	-o-border-image: url(line_.png)0 0 15 0 round!important;
	border-image: url(line_.png) 0 0 15 0 round!important;
	height: 72px!important;
	color: #FFFFFF;
	font-weight: 700;
	text-shadow: 0 -1px 0 #000000; }

	#header #panel-icon {
		display: none;
		position: absolute;
		position: fixed;
		right: 3px;
		top: 3px;
		width: 26px;
		height: 26px; }

	#header .logobox {
		width: 100%;
		float: left;
		text-align: center }

		#header .logobox .logo {
			margin: 0 auto;
			width: 260px;
			height: 70px;
			background-image: url(../../../images/logo-mobile.png);
			background-repeat: no-repeat;
			overflow: hidden;
			margin-top: -4pt; }

	#header .title {
		float: left;
		text-align: center;
		width: 100%;
		color: #4a4a4a;
		margin-top: 5pt;
		border-bottom: 0pt solid #c7c7c7;
		padding-bottom: 7pt;
		visibility:hidden; }

#navigation {
	float: left;
	width: 100%;
	padding-top: 4pt;
	padding-bottom: 4pt;
	}

#maintable { float:left;width: 100% }

#main { float:left;width: 100% }

input,select,textarea {
	border: 1pt solid #f2f2f2;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;
	border-top: 1pt solid #dedede;
	border-radius: 4pt;
	-moz-border-radius: 4pt;
	-webkit-border-radius: 4pt;
	font-size: 10pt;
	font-family: 'Open Sans',sans-serif;
	padding: 0.3em 10px;
	outline: 0;
	margin-left: -1pt;
	width: 100%;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	color: #6d6d6d }

#navigation table { width: 100% }

	#navigation table td { width:50%;padding: 2pt 10pt 0 5pt }

	#navigation table .whereami {
		width: 100%;
		padding-top: 3pt;
		padding-bottom: 1.5pt }

#navigation .whereamibutton {
	width: 100%;
	float: left;
	padding: 2.5pt 4pt 3pt 2.5pt;
	-moz-border-radius: 5pt;
	-webkit-border-radius: 5pt;
	border-radius: 5pt;
	box-shadow: 0 0 2pt -1pt #0d0d0d;
	-moz-box-shadow: 0 0 2pt -1pt #0d0d0d;
	-webkit-box-shadow: 0 0 2pt -1pt #0d0d0d;
	background-color: rgba(255,255,255,0.5) }

	#navigation .whereamibutton .innerbox {
		width: 100%;
		display: block;
		height: 23pt;
		border-bottom: 1pt solid #ffa33c;
		border-right: 1pt solid #ffae48;
		box-shadow: 0 3pt 4pt -4pt #383838;
		-moz-box-shadow: 0 3pt 4pt -4pt #383838;
		-webkit-box-shadow: 0 3pt 4pt -4pt #383838;
		-moz-border-radius: 5pt;
		-webkit-border-radius: 5pt;
		border-radius: 5pt;
		background: #feb952;
		background: -moz-linear-gradient(top,#E5292D,#DA1C1F);
		background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(254,185,82,1)),color-stop(100%,rgba(255,108,5,1)));
		background: -webkit-linear-gradient(top,#E5292D,#DA1C1F);
		background: -o-linear-gradient(top,#E5292D,#DA1C1F);
		background: -ms-linear-gradient(top,#E5292D,#DA1C1F);
		background: linear-gradient(top,#E5292D,#DA1C1F);
		filter:progid: DXImageTransform.Microsoft.gradient(startColorstr='#feb952',endColorstr='#ff6c05',GradientType=0) }

	#navigation .whereamibutton .disabled {
		background: #c6c6c6;
		background: -moz-linear-gradient(top,rgba(198,198,198,1) 0,rgba(130,130,130,1) 100%);
		background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(198,198,198,1)),color-stop(100%,rgba(130,130,130,1)));
		background: -webkit-linear-gradient(top,rgba(198,198,198,1) 0,rgba(130,130,130,1) 100%);
		background: -o-linear-gradient(top,rgba(198,198,198,1) 0,rgba(130,130,130,1) 100%);
		background: -ms-linear-gradient(top,rgba(198,198,198,1) 0,rgba(130,130,130,1) 100%);
		background: linear-gradient(top,rgba(198,198,198,1) 0,rgba(130,130,130,1) 100%);
		filter:progid: DXImageTransform.Microsoft.gradient(startColorstr='#c6c6c6',endColorstr='#828282',GradientType=0);
		border-bottom: 1pt solid #a9a9a9;
		border-right: 1pt solid #b6b5b5 }

	#navigation .whereamibutton .innerbox .captionbox {
		width: 100%;
		display: inline-block;
		text-align: center }

		#navigation .whereamibutton .innerbox .captionbox .caption {
			font-size: 10pt;
			display: inline-block;
			color: #fcfcfc;
			text-shadow: 0 .05em .05em #e55f00;
			height: 10pt;
			margin-top: 6pt }

		#navigation .whereamibutton .innerbox .captionbox .cdisabled { text-shadow: 0 .05em .05em #7a7a7a }

#navigation .button {
	width: 100%;
	float: left;
	padding: 2.5pt 4pt 3pt 2.5pt;
	-moz-border-radius: 5pt;
	-webkit-border-radius: 5pt;
	border-radius: 5pt;
	background-color: rgba(255,255,255,0.5) }

	#navigation .button .innerbox {
		width: 100%;
		display: block;
		height: 23pt;
		border-bottom: 1pt solid #ffa33c;
		border-right: 1pt solid #ffae48;
		-moz-border-radius: 5pt;
		-webkit-border-radius: 5pt;
		border-radius: 5pt;
		background: #feb952;
		background: -moz-linear-gradient(top,#E5292D,#DA1C1F);
		background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(254,185,82,1)),color-stop(100%,rgba(255,108,5,1)));
		background: -webkit-linear-gradient(top,#E5292D,#DA1C1F);
		background: -o-linear-gradient(top,#E5292D,#DA1C1F);
		background: -ms-linear-gradient(top,#E5292D,#DA1C1F);
		background: linear-gradient(top,#E5292D,#DA1C1F);
		filter:progid: DXImageTransform.Microsoft.gradient(startColorstr='#feb952',endColorstr='#ff6c05',GradientType=0) }

		#navigation .button .innerbox .captionbox {
			width: 100%;
			display: inline-block;
			text-align: center }

			#navigation .button .innerbox .captionbox .caption {
				font-size: 10pt;
				display: inline-block;
				color: #fcfcfc;
				text-shadow: 0 .05em .05em #e55f00;
				height: 10pt;
				margin-top: 6pt }

	#navigation .button .disabled {
		background: #c6c6c6 !important;
		background: -moz-linear-gradient(top,rgba(198,198,198,1) 0,rgba(130,130,130,1) 100%) !important;
		background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(198,198,198,1)),color-stop(100%,rgba(130,130,130,1))) !important;
		background: -webkit-linear-gradient(top,rgba(198,198,198,1) 0,rgba(130,130,130,1) 100%) !important;
		background: -o-linear-gradient(top,rgba(198,198,198,1) 0,rgba(130,130,130,1) 100%) !important;
		background: -ms-linear-gradient(top,rgba(198,198,198,1) 0,rgba(130,130,130,1) 100%) !important;
		background: linear-gradient(top,rgba(198,198,198,1) 0,rgba(130,130,130,1) 100%) !important;
		filter:progid: DXImageTransform.Microsoft.gradient(startColorstr='#c6c6c6',endColorstr='#828282',GradientType=0);
		border-bottom: 1pt solid #a9a9a9;
		border-right: 1pt solid #b6b5b5 }

	#navigation .button .innerbox .captionbox .cdisabled { text-shadow: 0 .05em .05em #7a7a7a }

#main .login { width:60%;margin-top: 18pt }

	#main .login td { padding-bottom: 5pt }

	#main .login span {
		float: left;
		width: 100%;
		margin-bottom: 3pt }

	#main .login input { float: left }

	#main .login .buttonbox {
		float: right;
		width: 50pt;
		height: 15pt;
		margin-top: 4pt;
		margin-right: -4pt;
		-webkit-border-radius: 4pt;
		-moz-border-radius: 4pt;
		border-radius: 4pt;
		box-shadow: 0 1pt 2pt 1pt #c6c6c6;
		-moz-box-shadow: 0 1pt 2pt 1pt #c6c6c6;
		-webkit-box-shadow: 0 1pt 2pt 1pt #c6c6c6 }

		#main .login .buttonbox .buttoninner {
			width: 100%;
			height: 100%;
			-webkit-border-radius: 4pt;
			-moz-border-radius: 4pt;
			border-radius: 4pt;
			box-shadow: inset -8pt 8pt 15pt -11pt #0d0d0d;
			-moz-box-shadow: inset -8pt 8pt 15pt -11pt #0d0d0d;
			-webkit-box-shadow: inset -8pt 8pt 15pt -11pt #0d0d0d;
			border-top: 1pt solid #424242;
			border-right: 1pt solid #2a2a2a;
			background: #848484;
			background: -moz-linear-gradient(top,rgba(132,132,132,1) 0,rgba(99,99,99,1) 38%,rgba(62,62,62,1) 73%,rgba(32,32,32,1) 100%);
			background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(132,132,132,1)),color-stop(38%,rgba(99,99,99,1)),color-stop(73%,rgba(62,62,62,1)),color-stop(100%,rgba(32,32,32,1)));
			background: -webkit-linear-gradient(top,rgba(132,132,132,1) 0,rgba(99,99,99,1) 38%,rgba(62,62,62,1) 73%,rgba(32,32,32,1) 100%);
			background: -o-linear-gradient(top,rgba(132,132,132,1) 0,rgba(99,99,99,1) 38%,rgba(62,62,62,1) 73%,rgba(32,32,32,1) 100%);
			background: -ms-linear-gradient(top,rgba(132,132,132,1) 0,rgba(99,99,99,1) 38%,rgba(62,62,62,1) 73%,rgba(32,32,32,1) 100%);
			background: linear-gradient(top,rgba(132,132,132,1) 0,rgba(99,99,99,1) 38%,rgba(62,62,62,1) 73%,rgba(32,32,32,1) 100%);
			filter:progid: DXImageTransform.Microsoft.gradient(startColorstr='#848484',endColorstr='#202020',GradientType=0);
			text-align: center }

			#main .login .buttonbox .buttoninner .caption {
				float: left;
				color: #fff;
				font-size: 7pt;
				font-weight: bold;
				margin-left: 1pt;
				line-height: 15pt }

.mapbox {
	width: 500px;
	height: 300px;
	float: left;
	position: static }

#main .whereami {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 60%;
	margin-top: 15pt;
	display: block; }

	#main .whereami td { padding-bottom: 5pt }

	#main .whereami span {
		float: left;
		width: 100%;
		margin-bottom: 3pt }

	#main .whereami select { float: left }

	#main .whereami input { float: left }

#loadingbox {
	position: fixed;
	left: 50%;
	margin-left: -30pt }

	#loadingbox .progressbox {
		display: none;
		position: relative;
		float: left;
		width: 60pt;
		height: 5pt;
		padding-right: 2pt;
		background-color: #abb2bc;
		border-radius: 4pt;
		-moz-border-radius: 4pt;
		-webkit-border-radius: 4pt }

		#loadingbox .progressbox .bar {
			position: relative;
			display: block;
			overflow: hidden;
			width: 2%;
			height: 5pt;
			-moz-border-radius: 4pt;
			-webkit-border-radius: 4pt;
			border-radius: 4pt;
			background-color: #ec2327
		}

#msgs {
	display: none;
	position: fixed;
	left: 50%;
	margin-left: -50pt;
	width: 100pt;
	height: 13pt;
	background-color: #fff;
	border: 1px solid #c7c7c7;
	border-top: 0;
	-moz-border-radius: 3pt;
	-webkit-border-radius: 3pt;
	border-radius: 3pt;
	-moz-border-radius-top-left: 0;
	-webkit-border-top-left-radius: 0;
	border-top-left-radius: 0;
	-moz-border-radius-top-right: 0;
	-webkit-border-top-right-radius: 0;
	border-top-right-radius: 0 }

	#msgs #themsg {
		position: relative;
		float: left;
		width: 100%;
		font-size: 9pt;
		margin-top: 2pt;
		text-align: center }

.shoppingbox { float:left;width: 100% }

	.shoppingbox input { width: 50% }

	.shoppingbox .searchbox { width: 100%; }

		.shoppingbox .searchbox td { padding-bottom: 6pt }

		.shoppingbox .searchbox span {
			float: left;
			text-align: left;
			margin-bottom: 3pt;
			margin-left: 2%;
			font-size: 10pt }

		.shoppingbox .searchbox input { box-shadow: none!important; }

	.shoppingbox .searchrow { border-bottom: 1pt solid #c7c7c7 }

.ui-loader { display: none!important }

.shoppingbox .bresults { display:table;width: 100% }

	.shoppingbox .bresults .row { width: 100%; }

		.shoppingbox .bresults .row .cell {
			text-align: center;
			padding-left: 3pt;
			padding-right: 3pt;
			vertical-align: middle; }

			.shoppingbox .bresults .row .cell .caption1 {
				float: left;
				font-weight: bold;
				color: #313131;
				line-height: 15pt;
				text-align:left,font-size: 8pt;
				width: 100%;
				margin-top: 6pt;
				margin-bottom: 4pt }

			.shoppingbox .bresults .row .cell .caption2 {
				float: left;
				color: black;
				line-height: 15pt;
				font-size: 8pt;
				width: 100%;
				margin-top: 6pt;
				margin-bottom: 4pt }

	.shoppingbox .bresults .results .row .logo {
		width: 15%;
		text-align: center;
		padding-left: 3pt;
		padding-right: 3pt }

	.shoppingbox .bresults .row .logo .img {
		width: 32px;
		height: 32px;
		margin-top: 6pt;
		margin-bottom: 4pt }

	.shoppingbox .bresults .row .name { width: 81% }

	.shoppingbox .bresults .row .category { width: 35% }

	.shoppingbox .bresults .row .shipping {
		margin-top: 16pt;
		text-align: center;
		vertical-align: middle }

		.shoppingbox .bresults .row .shipping .acceptcard {
			width: 19px;
			height: 13px;
			margin-top: 6pt;
			background-image: url('mobile-front-images.png');
			background-repeat: no-repeat;
			background-position: 0 0;
			display: inline-block }

		.shoppingbox .bresults .row .shipping .acceptcardclosed {
			width: 19px;
			height: 13px;
			margin-top: 6pt;
			display: inline-block;
			background-image: url('mobile-front-images.png');
			background-repeat: no-repeat;
			background-position: 0 -15px }

	.shoppingbox .bresults .row .closed { color: #7f7f7f!important }

	.shoppingbox .bresults .row .til { font-size: 7pt }

.shoppingbox .businesslogo {
	width: 15%;
	height: 55pt;
	text-align: center;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 15pt;
	vertical-align: middle }

.shoppingbox .businesstitle {
	width: 85%;
	height: 55pt;
	text-align: left;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 15pt;
	vertical-align: middle }

.shoppingbox .businesslogo .logo {
	width: 64px;
	height: 64px;
	display: inline-block }

.shoppingbox .businesstitle .titlebox {
	float: left;
	width: 100%;
	height: 12pt;
	overflow: hidden;
	margin-bottom: 1pt;
	padding-top: 1pt }

	.shoppingbox .businesstitle .titlebox .caption {
		font-size: 10pt;
		color: #000;
		font-weight: 800 }

.shoppingbox .businesstitle .addressbox {
	float: left;
	width: 100%;
	height: 35pt;
	overflow: hidden }

	.shoppingbox .businesstitle .addressbox .caption {
		font-size: 8pt;
		color: #000;
		line-height: 12pt }

.shoppingbox .dresults { width: 100% }

	.shoppingbox .dresults .row {
		width: 100%;
		height: auto; }

		.shoppingbox .dresults .row .first {
			text-align: left;
			vertical-align: top;
			padding-left: 3pt;
			padding-right: 3pt; }

			.shoppingbox .dresults .row .first .img {
				display: inline-block;
				width: 32px;
				height: 32px;
				margin-top: 10pt;
				margin-bottom: 4pt }

		.shoppingbox .dresults .row .middle {
			vertical-align: top;
			padding-left: 5pt;
			padding-right: 3pt; }

			.shoppingbox .dresults .row .middle .title {
				float: left;
				width: 100%;
				height: 13pt;
				margin-top: 9pt;
				overflow: hidden }

				.shoppingbox .dresults .row .middle .title .caption {
					font-size: 10pt;
					color: #404040;
					font-weight: 800 }

		.shoppingbox .dresults .row .last {
			text-align: center;
			vertical-align: top;
			padding-left: 3pt;
			padding-right: 3pt; }

			.shoppingbox .dresults .row .last .price {
				display: inline-block;
				width: 100%;
				height: 12pt;
				overflow: hidden;
				margin-top: 9pt }

				.shoppingbox .dresults .row .last .price .caption {
					font-size: 8pt;
					color: #404040;
					font-weight: 800 }

			.shoppingbox .dresults .row .last .addtocart {
				display: inline-block;
				width: 34px;
				height: 34px;
				margin-top: 5pt;
				background-image: url('addcart_btn.png');
				border-radius: 40px;
				background-repeat: no-repeat;
				width: 44px;
				height: 42px;
				border-radius: 40px; }

		.shoppingbox .dresults .row .tags { width:100%;float: left }

		.shoppingbox .dresults .row .ingredients { margin-top: 5pt }

		.shoppingbox .dresults .row .extras { margin-bottom: 3pt }

		.shoppingbox .dresults .row textarea {
			margin-bottom: 9pt;
			resize: none;
			margin-top: 3pt;
			width: 94% }

		.shoppingbox .dresults .row .first .shippingimg {
			display: inline-block;
			width: 33px;
			height: 32px;
			margin-top: 10pt;
			margin-bottom: 4pt;
			background-image: url('mobile-front-images.png');
			background-repeat: no-repeat;
			background-position: -22px 0 }

		.shoppingbox .dresults .row .last .disabledcross {
			display: inline-block;
			width: 34px;
			height: 34px;
			margin-top: 5pt;
			background-image: url('mobile-front-images.png');
			background-repeat: no-repeat;
			background-position: -56px 0 }

		.shoppingbox .dresults .row .last .removefromcart {
			display: inline-block;
			width: 34px;
			height: 34px;
			margin-top: 5pt;
			background-image: url('mobile-front-images.png');
			background-repeat: no-repeat;
			background-position: -92px 0 }

.shoppingbox .bottom {
	width: 100%;
	height: 23pt;
	float: left }

	.shoppingbox .bottom .order {
		float: none;
		margin-left: auto;
		margin-right: auto;
		display: block;
		text-align: center;
		width: 50%;
		height: 100%;
		text-align: center;
		background-repeat: repeat;
		background-position: left top;
		background-color: #EE2F2F }

		.shoppingbox .bottom .order .caption {
			float: left;
			width: 100%;
			font-size: 10pt;
			height: 22pt;
			overflow: hidden;
			font-weight: 800;
			color: #fff;
			margin-top: 7pt;
			text-shadow: .05em .05em .05em #e32e2e }

	.shoppingbox .bottom .total {
		float: left;
		width: 50%;
		height: 100%;
		background-color: #ec2327
	}

		.shoppingbox .bottom .total span {
			float: left;
			color: #fff;
			width: 100%;
			text-align: center;
			font-weight: bold;
			text-shadow: .05em 0 .05em #cc5e14;
			font-size: 10pt;
			margin-top: 7pt }

.shoppingbox .buyerinfo { margin-top: 15pt }

	.shoppingbox .buyerinfo span {
		float: left;
		text-align: left;
		margin-bottom: 3pt;
		margin-left: 2%;
		font-size: 10pt;
		width: 50% }

	.shoppingbox .buyerinfo input,select {
		float: left;
		width: 88%;
		margin-left: 2%;
		margin-bottom: 5pt }

	.shoppingbox .buyerinfo .lastinput { margin-bottom: 7pt }

.shoppingbox .dresults .rowbusiness .first { vertical-align:middle;border-top: 1pt solid #c7c7c7 }

	.shoppingbox .dresults .rowbusiness .first .img { margin: 0 }

.shoppingbox .dresults .rowbusiness .middle { vertical-align:middle;border-top: 1pt solid #c7c7c7 }

	.shoppingbox .dresults .rowbusiness .middle .caption {
		width: 100%;
		display: inline-block;
		height: 12pt;
		font-size: 8pt;
		color: #404040;
		font-weight: 800;
		overflow: hidden }

.shoppingbox .dresults .rowbusiness .last {
	vertical-align: middle;
	text-align: center;
	border-top: 1pt solid #c7c7c7 }

	.shoppingbox .dresults .rowbusiness .last .checkbox { display:inline-block;margin-top: 4pt }

	.shoppingbox .dresults .rowbusiness .last .caption1 {
		display: inline-block;
		font-size: 8pt;
		font-weight: bold;
		width: 100% }

	.shoppingbox .dresults .rowbusiness .last .caption2 {
		display: inline-block;
		font-size: 8pt;
		width: 100% }

.confirmorder { width: 90% }

	.confirmorder .title {
		display: inline-block;
		width: 100%;
		text-align: center;
		font-weight: bold;
		margin-top: 15pt }

	.confirmorder .completedmessage {
		display: inline-block;
		width: 100%;
		text-align: center;
		margin-top: 15pt }

	.confirmorder .completednumber {
		display: inline-block;
		width: 100%;
		text-align: center;
		color: #f07f24;
		font-size: 12pt;
		font-weight: bold;
		margin-top: 16pt }

#dishadded {
	position: absolute;
	width: 91px;
	height: 60px;
	background-image: url('mobile-front-images.png');
	background-repeat: no-repeat;
	background-position: -162px 0;
	display: none }

.tags .tag {
	float: left;
	width: auto;
	height: 12pt;
	margin-right: 2pt;
	margin-bottom: 6pt;
	border-radius: 2pt;
	-moz-border-radius: 2pt;
	-webkit-border-radius: 2pt }

.tags .ingredient { background-color:#ec2327;border: 1pt solid #EC2327 }

.tags .extra { background-color:#ed1fb4;border: 1pt solid #d70d9f }

.tags .tag .icaption {
	display: inline-block;
	line-height: 8pt;
	font-size: 8pt;
	color: #fff;
	margin: 2pt 2pt 2pt 3pt }

.tags .tag .close {
	display: inline-block;
	width: 6px;
	height: 6px;
	margin-right: 3pt;
	margin-left: 1pt;
	background-image: url('mobile-front-images.png');
	background-repeat: no-repeat;
	background-position: -1px -30px }

.tags .ingredientdisabled {
	background-color: #feb686;
	border: 1pt solid #f6a773;
	background-image: none!important }

.tags .extradisabled {
	background-color: #fd92df;
	border: 1pt solid #f282d3;
	background-image: none!important }

.tags .disabled .ingredientcaptiondisabled { text-shadow: 0 .1em .1em #878787 }

.tags .disabled .extracaptiondisabled { text-shadow: 0 .1em .1em #878787 }

.jspContainer { overflow:hidden;position: relative }

.jspPane { position: absolute }

.jspVerticalBar {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 100%;
	background: red }

.jspHorizontalBar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red }

.jspVerticalBar *,.jspHorizontalBar * { margin:0;padding: 0 }

.jspCap { display: none }

.jspHorizontalBar .jspCap { float: left }

.jspTrack { background:#dde;position: relative }

.jspDrag {
	background: #bbd;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer }

.jspHorizontalBar .jspTrack,.jspHorizontalBar .jspDrag { float:left;height: 100% }

.jspArrow {
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer }

	.jspArrow.jspDisabled { cursor:default;background: #80808d }

.jspVerticalBar .jspArrow { height: 16px }

.jspHorizontalBar .jspArrow {
	width: 16px;
	float: left;
	height: 100% }

.jspVerticalBar .jspArrow:focus { outline: 0 }

.jspCorner {
	background: #eeeef4;
	float: left;
	height: 100% }

* html .jspCorner { margin: 0 -3px 0 0 }

.hint {
	position: absolute;
	width: 144px;
	height: 31px;
	right: 31pt;
	margin-top: -6pt;
	background-image: url('mobile-front-images.png');
	background-repeat: no-repeat;
	background-position: 0 -37px;
	visibility: hidden; }

.payment-method-icon img {
	border: medium none;
	margin-right: 5px;
	width: 30px !important; }

.view {
	background-color: #E5292D;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#E5292D), to(#DA1C1F));
	background-image: -webkit-linear-gradient(top, #E5292D, #DA1C1F);
	background-image: -moz-linear-gradient(top, #E5292D, #DA1C1F);
	background-image: -ms-linear-gradient(top, #E5292D, #DA1C1F);
	background-image: -o-linear-gradient(top, #E5292D, #DA1C1F);
	background-image: linear-gradient(to bottom, #E5292D, #DA1C1F);
	filter:progid: DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E5292D, endColorstr=#DA1C1F);
	border: 1px solid #BF171B;
	border-radius: 5px;
	color: #FFFFFF;
	display: inline-block;
	font-size: 9pt;
	padding: 6px;
	text-decoration: none; }

	.view:hover {
		color: #ffffff;
		border: 1px solid #961215;
		background-color: #E5292D;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#E5292D), to(#DA1C1F));
		background-image: -webkit-linear-gradient(top, #E5292D, #DA1C1F);
		background-image: -moz-linear-gradient(top, #E5292D, #DA1C1F);
		background-image: -ms-linear-gradient(top, #E5292D, #DA1C1F);
		background-image: -o-linear-gradient(top, #E5292D, #DA1C1F);
		background-image: linear-gradient(to bottom, #E5292D, #DA1C1F);
		filter:progid: DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E5292D, endColorstr=#DA1C1F); }

.shoppingbox .bresults .row .cell .caption2,.shoppingbox .bresults .row .cell .caption1 {
	color: #313131;
	font-size: 8pt;
	font-weight: bold;
	line-height: 15pt;
	margin-bottom: 4pt;
	margin-left: 12px;
	margin-top: 6pt;
	text-align: left;
	width: 100%; }

.ui-icon-searchfield:after { display: none!important; }

.ui-input-search .ui-btn-corner-all { border-radius: 0px!important; }

.shoppingbox input.ui-btn-corner-all { border-radius: 0px!important; }

input.ui-input-text.ui-btn-corner-all { border-radius: 0px!important; }

label.ui-input-text { line-height: 3.4 !important; }

label .ui-input-text { line-height: 3.4 !important; }

#form1,	#form2 {
	border: 1pt solid #C7C7C7;
	border-radius: 0.5em;
	height: auto!important;
	;
	margin: 15px !important; }

.shoppingbox .dresults .row {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100%; }

#navigation .geobutton {
	width: 100%;
	float: left;
	padding: 2.5pt 4pt 3pt 2.5pt;
	-moz-border-radius: 5pt;
	-webkit-border-radius: 5pt;
	border-radius: 5pt;
	box-shadow: 0 0 2pt -1pt #0d0d0d;
	-moz-box-shadow: 0 0 2pt -1pt #0d0d0d;
	-webkit-box-shadow: 0 0 2pt -1pt #0d0d0d;
	background-color: rgba(255,255,255,0.5) }

	#navigation .geobutton .innerbox {
		width: 100%;
		display: block;
		height: 23pt;
		border-bottom: 1pt solid #ffa33c;
		border-right: 1pt solid #ffae48;
		box-shadow: 0 3pt 4pt -4pt #383838;
		-moz-box-shadow: 0 3pt 4pt -4pt #383838;
		-webkit-box-shadow: 0 3pt 4pt -4pt #383838;
		-moz-border-radius: 5pt;
		-webkit-border-radius: 5pt;
		border-radius: 5pt;
		background: #feb952;
		background: -moz-linear-gradient(top,#E5292D,#DA1C1F);
		background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(254,185,82,1)),color-stop(100%,rgba(255,108,5,1)));
		background: -webkit-linear-gradient(top,#E5292D,#DA1C1F);
		background: -o-linear-gradient(top,#E5292D,#DA1C1F);
		background: -ms-linear-gradient(top,#E5292D,#DA1C1F);
		background: linear-gradient(top,#E5292D,#DA1C1F);
		filter:progid: DXImageTransform.Microsoft.gradient(startColorstr='#feb952',endColorstr='#ff6c05',GradientType=0) }

#navigation .whereamibutton .disabled {
	background: #c6c6c6;
	background: -moz-linear-gradient(top,rgba(198,198,198,1) 0,rgba(130,130,130,1) 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(198,198,198,1)),color-stop(100%,rgba(130,130,130,1)));
	background: -webkit-linear-gradient(top,rgba(198,198,198,1) 0,rgba(130,130,130,1) 100%);
	background: -o-linear-gradient(top,rgba(198,198,198,1) 0,rgba(130,130,130,1) 100%);
	background: -ms-linear-gradient(top,rgba(198,198,198,1) 0,rgba(130,130,130,1) 100%);
	background: linear-gradient(top,rgba(198,198,198,1) 0,rgba(130,130,130,1) 100%);
	filter:progid: DXImageTransform.Microsoft.gradient(startColorstr='#c6c6c6',endColorstr='#828282',GradientType=0);
	border-bottom: 1pt solid #a9a9a9;
	border-right: 1pt solid #b6b5b5 }

#navigation .whereamibutton .innerbox .captionbox {
	width: 100%;
	display: inline-block;
	text-align: center }

	#navigation .whereamibutton .innerbox .captionbox .caption {
		font-size: 10pt;
		display: inline-block;
		color: #fcfcfc;
		text-shadow: 0 .05em .05em #e55f00;
		height: 10pt;
		margin-top: 6pt }

	#navigation .whereamibutton .innerbox .captionbox .cdisabled { text-shadow: 0 .05em .05em #7a7a7a }

#navigation .button {
	width: 100%;
	float: left;
	padding: 2.5pt 4pt 3pt 2.5pt;
	-moz-border-radius: 5pt;
	-webkit-border-radius: 5pt;
	border-radius: 5pt;
	background-color: rgba(255,255,255,0.5) }

	#navigation .button .innerbox {
		width: 100%;
		display: block;
		height: 23pt;
		border-bottom: 1pt solid #ffa33c;
		border-right: 1pt solid #ffae48;
		-moz-border-radius: 5pt;
		-webkit-border-radius: 5pt;
		border-radius: 5pt;
		background: #feb952;
		background: -moz-linear-gradient(top,#E5292D,#DA1C1F);
		background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(254,185,82,1)),color-stop(100%,rgba(255,108,5,1)));
		background: -webkit-linear-gradient(top,#E5292D,#DA1C1F);
		background: -o-linear-gradient(top,#E5292D,#DA1C1F);
		background: -ms-linear-gradient(top,#E5292D,#DA1C1F);
		background: linear-gradient(top,#E5292D,#DA1C1F);
		filter:progid: DXImageTransform.Microsoft.gradient(startColorstr='#feb952',endColorstr='#ff6c05',GradientType=0) }

#navigation .geobutton .innerbox .captionbox {
	display: inline-block;
	text-align: center;
	width: 100%; }

	#navigation .geobutton .innerbox .captionbox .caption {
		color: #FCFCFC;
		display: inline-block;
		font-size: 10pt;
		height: 10pt;
		margin-top: 6pt;
		text-shadow: 0 0.05em 0.05em #E55F00; }

.row { border-bottom: 1px solid #c7c7c7!important; }

.paypal {
	border: medium none;
	box-shadow: none;
	position: relative;
	top: -5px; }

#header1 .logobox .logo {
    background-image: url("../../../logo-mobile.png");
    background-repeat: no-repeat;
    height: 70px;
    margin: -4pt auto 0;
    overflow: hidden;
    width: 260px;
}
#header1 {
    -moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    background: linear-gradient(#FFFFFF, #FFFFFF) repeat scroll 0 0 #000000 !important;
    border-color: -moz-use-text-color -moz-use-text-color rgba(0, 0, 0, 0) !important;
    border-image: url("line_.png") 0 0 15 0 round round !important;
    border-style: none none solid !important;
    border-width: medium medium 15px !important;
    color: #FFFFFF;
    font-weight: 700;
    height: 52px !important;
    text-shadow: 0 -1px 0 #000000;
}
#header1 .logobox {
    float: left;
    text-align: center;
    width: 100%;
}
#header1 .title {
    border-bottom: 1pt solid #C7C7C7;
    color: #4A4A4A;
    float: left;
    margin-top: 5pt;
    padding-bottom: 7pt;
    text-align: center;
    width: 100%;
}

input { box-shadow: none!important; }
