@charset "utf-8";
/* CSS Document */

html, #c-carousel {
	height: 100%;
	padding: 0;
	margin: 0;
}
#c-carousel {
	background-color: #f3f3f3;
	min-height: 350px;
}
#c-carousel * {
	font-family: Arial, Geneva, SunSans-Regular, sans-serif;
	font-size: 14px;
	color: #333;
	line-height: 22px;
}

#wrapper {
	width: 100%;
	margin:0 auto;
	position:relative;
}

#carousel {
	width: 100%;
	position:vrelative;
}
#carousel ul {
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
}
#carousel li {
	background: #fff url(../images/carousel_polaroid.png) no-repeat 0 0;
	font-size: 40px;
	color: #999;
	text-align: center;
	display: block;
	width: 142px;
	height: 138px;
	padding: 0;
	margin:10px 18px 0 0 ;
	float: left;
	position: relative;
	padding:20px;
	  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.10);
}

#carousel li img {
	width: 142px;
	height: 138px;

}

#carousel li span {
	background: transparent url(../images/carousel_shine.png) no-repeat 0 0;
	text-indent: -999px;
	display: block;
	overflow: hidden;
	width: 201px;
	height: 127px;
	position: absolute;
	z-index: 2;
	top: 14px;
	left: 16px;
}			

.clearfix {
	float: none;
	clear: both;
}
#carousel .prev, #carousel .next {
	background: transparent url(../images/carousel_control.png) no-repeat 0 0;
	text-indent: -999px;
	display: block;
	overflow: hidden;
	width: 15px;
	height: 21px;
	margin-left: 10px;
	position: absolute;
	top: 70px;				
}
#carousel .prev {
	background-position: 0 0;
	left: -30px;
}
#carousel .prev:hover {
	left: -31px;
}			
#carousel .next {
	background-position: -18px 0;
	right: -20px;
}
#carousel .next:hover {
	right: -21px;
}				
#carousel .pager {
	text-align: center;
	margin: 0 auto;
}
#carousel .pager a {
	background: transparent url(../images/carousel_control.png) no-repeat -2px -28px;
	text-decoration: none;
	text-indent: -999px;
	display: inline-block;
	overflow: hidden;
	width: 12px;
	height: 12px;
	margin: 0 5px 0 0;
}
#carousel .pager a.selected {
	background: transparent url(../images/carousel_control.png) no-repeat -17px -28px;
	text-decoration: underline;				
}

#source {
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 10px;
	left: 0;
}
#source, #source a {
	font-size: 12px;
	color: #999;
}

.caroufredsel_wrapper{
	display: block; 
	text-align: start; 
	float: none; 
	position: relative; 
	top: auto; 
	right: auto; 
	bottom: auto; 
	left: auto; 
	z-index: auto; 
	width: 100% !important; 
	height:200px !important;
	margin: 0px; 
	overflow: hidden;				
}

.caroufredsel_wrapper ul{			
	text-align: left; 
	float: none; 
	position: absolute; 
	top: 0px; right: auto; 
	bottom: auto; 
	left: 0px; 
	margin: 0px; 
	width: 3660px; 
	height: 190px; 
	z-index: auto;
}